* {
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p{
    margin-top: 0;
}

:root{
    --white-color: #FFFFFF;
    --blu-color: #2196F3;
    --gray-color: #757575;
    --black-color: #212121;
    --white-color-icon: #F5F4FA;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    
}

.container:nth-child(1/6){
    padding-bottom: 32px;
}

.section{
    padding-bottom: 94px;
    padding-top: 94px;
}


/* Header */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 318px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header-logo{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:#000000;
    text-decoration: none;
    margin-right: 54px;   
}

.accent{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--blu-color);
}

.studio{
    color: var(--blu-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;   
}

.nav{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black-color);
    text-decoration: none;    
}

.nav:hover,
.nav:focus{
    color: var(--blu-color);
}

.link-mail{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray-color);
    fill: var(--gray-color);
    text-decoration: none;
}

.link-mail:hover,
.link-mail:focus{
    color: var(--blu-color);
    fill: var(--blu-color);
}

.list-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-contact{
    margin-right: 10px;
}

.link-number{
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--gray-color);
    fill: var(--gray-color);
    text-decoration: none;
    
}

.link-number:hover,
.link-number:focus{
    color: var(--blu-color);
    fill: var(--blu-color);
}



/*Main
 Hero*/



.hero-background{
    display: flex;
    padding: 200px 0px;
    width: 100%;
    background: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/Img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    Width: 696px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button-link{
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;    font-size: 16px;
    line-height: 30px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--blu-color);
    margin: 0 auto;
    border: var(--blu-color);
}

.button-link:hover,
.button-link:focus{
   cursor: pointer;
   background-color: #188CE8;
   border: #188CE8;
}


/*section 1*/



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.first-section{
    display: flex;
    align-content: center;
    gap: 30px;
}

.section-list{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--black-color);
}

.section-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
}

.section-icon{
    display: flex;
    align-content: center;
    height: 120px;
    background-color:  #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.list-icon{
    margin: auto;
    fill: #212121;
}



/* section 2 */

.additional-class{
    padding-top: 0;
   
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-image{
    display: flex;
    gap: 30px; 
}


/* section 3*/

.background-foto{
    background: #F5F4FA;
}

.section-foto{
    display: flex;
    gap: 30px;
}



.section-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 50px;
}

.title-foto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--black-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.paragraf-foto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;    
    color: var(--gray-color);
    margin-bottom: 30px;
}

.border-foto{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.social-icon{
    margin: 0px 32px;
}


.social-item{
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
    gap: 10px;

}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus{
    fill: #FFFFFF;
    background: #2196F3;
}



/*Section 4*/

.list-client{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.client-card{
    border: 1px solid #AFB1B8;
    border-radius: 4px; 
}

.client-link{
    display: flex;
    align-items: center;
    height: 92px;
    width: 170px;
    fill:  #AFB1B8;
}

.client-link:hover,
.client-link:focus{
    fill:  #2196F3;
    border: 1px solid #2196F3;
}

/*Footer*/

.container-footer{
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 60px auto; 
    gap: 70px;
}

.background{
    background-color: #2F303A;
    width: 1600px;
    display: flex;
    width: 100%;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--white-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-bottom: 28p;
    display: block;
    margin-bottom: 28px; 
}

.address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    color: var(--white-color);
    text-decoration: none;
    margin-bottom: 12px;
}

.address:hover,
.address:focus{
    color: var(--blu-color);
}

.mail-footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:var(--white-color);
    text-decoration: none;
    margin-bottom: 12px;
}

.mail-footer:hover,
.mail-footer:focus{
    color: var(--blu-color);
}

.footer-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.footer-icon{
    margin-right: auto;
}

.social-item{
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
    gap: 10px;

}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-link:hover,
.footer-link:focus{
    fill: #FFFFFF;
    background: #2196F3;
}


/*header-portfolio*/


.header-portfolio{
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}

.portfolio-studio{  
    color: var(--black-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.portfolio-nav{
    color: var(--blu-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;

}


 /*portfolio
 section 1*/



.title-project{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 56px;
}

.project-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;   
    color: var(--black-color);
    list-style: none;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px; 
}

.project-button:hover,
.project-button:focus{
    cursor: pointer;
    background-color: var(--blu-color);
    color: var(--white-color);
}

.project-list{  
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.project-box{
    flex-basis: calc((100% - 60px) / 3); 
}

.border-shadow{
    display: block;
    text-decoration: none;
}

.border-shadow:hover,
.border-shadow:focus{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }


.border-project{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
  
}

.nime-project{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;    
    color: var(--black-color);
    margin-top: 20px;
    margin-bottom: 4px;
}


.description-project{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--gray-color);
    margin-bottom: 20px;
}















