* {
    box-sizing: border-box;
}

:root{
    --white-color: #FFFFFF;
    --blu-color: #2196F3;
    --gray-color: #757575;
    --black-color: #212121;
    --white-color-icon: #F5F4FA;
    --hover-dlu-color: #188CE8;
    --fill-icon-black:  #212121;
    --social-color: #AFB1B8
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}