

/* Header */
.header{
    padding-top: 24px;
    

    &__container{
<<<<<<< HEAD
        position: relative;
=======
        
        @media (min-width: 480px){
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 318px;

        }
    }
    
    &__nav{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    &__logo{
        
        display: flex;
        align-items: center;
        list-style: none;
        gap: 50px;
    }

    &__studio{
<<<<<<< HEAD
        
        display: none;

        @media (min-width: 768px){
        display: block;
        position: relative;
        color: var(--blu-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none; 
        }
=======
        display: none;

        @media (min-width: 480px){
            display: block;
            position: relative;
            color: var(--blu-color);
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none; 
        }        
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
    }
    
    &__studio::after{
        display: none;
        @media (min-width: 480px){
            display: block;
            position: absolute;
            content: "";
            width: 48px;
            height: 4px;
            background: var(--blu-color);
            border-radius: 2px;
            top: 51px;
            left: 50%;
            transform: translate(-50%, 0);
        }       
    }
    
    &__studio-nav{
<<<<<<< HEAD

        display: none;

        @media (min-width: 768px){
        display: block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--black-color);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
            color: var(--blu-color);
        }
=======
        display: none;
        @media (min-width: 480px){
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: var(--black-color);
            text-decoration: none;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                
            &:hover,
            &:focus{
                color: var(--blu-color);
            }
        }       
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
    }
    }
    
   

    &__list{
        display: none;

<<<<<<< HEAD
        @media (min-width: 768px){

        list-style: none;
        display: flex;
        align-items: center;
        gap: 40px;
        }
=======
        @media (min-width: 480px){
            
            display: flex;
            align-items: center;
            list-style: none;
            gap: 40px;
        }    
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
    }
    
    &__link-mail{
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray-color);
        fill: var(--gray-color);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
            color: var(--blu-color);
            fill: var(--blu-color);
        }
    }
    
   
    
    &__list-contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    &__contact{
        margin-right: 10px;
    }
    
    &__link-number{
        font-family: 'Roboto'; 
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray-color);
        fill: var(--gray-color);
        text-decoration: none;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

        &:hover,
        &:focus{
        color: var(--blu-color);
        fill: var(--blu-color);
    }    
    }
<<<<<<< HEAD

    &__burger{

=======
    &__burger{
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
        position: absolute;
        top: 10px;
        right: 15px;
        fill: var(--black-color);
<<<<<<< HEAD
        background-color: var(--white-color);
=======
        background-color: var( --white-color);
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
        border: none;
        cursor: pointer;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

        &:hover,
        &:focus{
            fill: var(--blu-color);
        }

<<<<<<< HEAD
       @media (min-width: 768px){
=======
       @media (min-width: 480px){
>>>>>>> 592f583a263e2af77067ac37fc708c870a123ff4
        display: none;
        
       }

    }
}




