

/* Header */
.header{
    padding-top: 24px;
    

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 318px;
    }
    
    &__nav{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
    
    &__logo{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__studio{
        position: relative;
        color: var(--blu-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none; 
    
    }
    
    &__studio::after{
        position: absolute;
        content: "";
        width: 48px;
        height: 4px;
        background: var(--blu-color);
        border-radius: 2px;
        top: 51px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    &__studio-nav{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--black-color);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
            color: var(--blu-color);
        }
    }
    
   

    &__list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    &__link-mail{
        display: flex;
        justify-content: space-between;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray-color);
        fill: var(--gray-color);
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus{
            color: var(--blu-color);
            fill: var(--blu-color);
        }
    }
    
   
    
    &__list-contact{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    &__contact{
        margin-right: 10px;
    }
    
    &__link-number{
        font-family: 'Roboto'; 
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: var(--gray-color);
        fill: var(--gray-color);
        text-decoration: none;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 

        &:hover,
        &:focus{
        color: var(--blu-color);
        fill: var(--blu-color);
    }    
    }
}




