.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16px;
    letter-spacing: 0.03em;
    color:#000000;
    text-decoration: none;
      

   @media (min-width:768px) {
    margin-right: 38px; 
   }
    .accent{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16px;
        letter-spacing: 0.03em;
        color: var(--blu-color);
    }

    @media (min-width:1200px) {
        font-size: 26px;
        line-height: 31px; 
       }
}

.logo-footer{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 28px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 1.58;
      
    }

    @media (min-width: 1200px) {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 28px;
        margin-right: 54px;
    }
    
 
}