

.hero-section{
    padding-bottom: 60px;
    @media (min-width: 1200px){
        padding-bottom: 94px;

    }
    
    
    &__background{
        display: flex;
        padding: 118px 60px;
        width: 100%;
        background: #2F303A;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/team/mobile/Header-img.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;

        @media (min-resolution: 2dppx) {
            background-image: url(../image/team/mobile/Header-img@2x.jpg);
            
        }

       @media (min-width:768px) {
        background-image: url(../image/team/tablet/Header-img.jpg);
        @media (min-resolution: 2dppx) {
            background-image: url(../image/team/tablet/Header-img@2x.jpg);
            
        }  
       }

       @media (min-width:1200px) {
        background-image: url(../image/team/desk/Img.jpg);
        max-width: 1600px;

        @media (min-resolution: 2dppx) {
            background-image: url(../image/team/desk/Img@2x.jpg);
            
        }
       }
        
    }
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--white-color);

        @media (min-width: 768px){
            font-size: 44px;
            line-height: 60px;
            margin-bottom: 30px;
            width: 696px;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            
        }
    }
}




