
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p{
    margin-top: 0;
}

.section-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 30px;

    @media (min-width:1200px) {
         margin-bottom: 50px;
         font-size: 36px;
         line-height: 42px;
    }
  }
  

  img {
    display: block;
    max-width: 100%;
    height: auto;
}