
.hero-background{
    display: flex;
    padding: 200px 0px;
    width: 100%;
    background: #2F303A;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/Img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 30px;
    Width: 696px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;    font-size: 16px;
    line-height: 30px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color: var(--blu-color);
    margin: 0 auto;
    border-radius: 4px;
    border: var(--blu-color);
    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.button-link:hover,
.button-link:focus{
   cursor: pointer;
   background-color: var(--hover-dlu-color);
   border: var(--hover-dlu-color);
}
